@use '../../styles/variables/colors';

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__img {
  flex: 1;
  color: pink;
}

.icon--tiny {
  width: 0.7rem;
}

.icon--small {
  width: 1rem;
}

.icon--medium {
  width: 1.3rem;
}

.icon--large {
  width: 1.6rem;
}

.icon--white {
  circle {
    stroke: colors.$white;
  }
  path {
    fill: colors.$white;
    &.nofill {
      fill: none;
      stroke: colors.$white;
    }
  }
}

.icon--semi-dark {
  circle {
    stroke: colors.$textSemiDark;
  }
  path {
    fill: colors.$textSemiDark;
    &.nofill {
      fill: none;
      stroke: colors.$textSemiDark;
    }
  }
}

.icon--primary {
  circle {
    stroke: colors.$strongPrimary;
  }
  path {
    fill: colors.$strongPrimary;
    &.nofill {
      fill: none;
      stroke: colors.$strongPrimary;
    }
  }
}
