h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
div,
section,
article,
header,
footer,
nav,
main,
ul,
li,
button,
input,
form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button, input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
