@use '../variables/colors';
@use '../variables/font-sizes';
@use '../variables/font-weights';

.utility--darkened-column {
  border-left: 2px solid darken(colors.$lightBg, 10%);
  border-right: 2px solid darken(colors.$lightBg, 10%);
  background-color: colors.$lightBgDarkened;
}

.utility--border-right {
  border-right: 2px solid darken(colors.$lightBg, 10%);
}

.utility--feature-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0 1rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid darken(colors.$lightBg, 10%);
  color: colors.$lightBgText;
  font-size: font-sizes.$featureHeader;
  font-weight: font-weights.$featureHeader;
}

.utility--margin-top {
  margin-top: 1.2rem;
}
