@use '../variables/layout';
@use '../variables/colors';
@use '../variables/font-sizes';
@use '../variables/font-weights';

.containers__confirm-btn,
.containers__cancel-btn {
  padding: 0.4rem;
  border-radius: 0.35rem;
  cursor: pointer;
}

.containers__confirm-btn {
  font-size: font-sizes.$button;
  font-weight: font-weights.$buttonAction;
  color: colors.$white;
  background-color: colors.$action;

  &:hover {
    background-color: darken(colors.$action, 5%);
  }
}

.containers__cancel-btn {
  font-weight: font-weights.$button;
  font-size: font-sizes.$button;
  margin-left: 0.7rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.091);
  }
}

.containers__text {
  font-size: font-sizes.$containersText;
  font-weight: font-weights.$containersText;
  flex: 1;
}

.containers__info {
  background-color: colors.$infoBg;
  border: 1px solid colors.$infoBgDarkened;
  border-left-width: 4px;
  border-radius: 0.35rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;

  & .containers__text {
    color: darken(colors.$infoBg, 70%);
  }

  .containers__cancel-btn {
    color: darken(colors.$infoBg, 70%);
  }
}
