@use '../variables/layout';
@use '../variables/colors';
@use '../variables/font-sizes';
@use '../variables/font-weights';

.footer {
  display: flex;
  justify-content: center;
  background-color: colors.$lightBgDarkened;
  border-top: 2px solid colors.$lightBgBorder;
}

.footer__inner {
  flex: 1;
  max-width: layout.$innerWidth;
  padding: 0.25rem layout.$innerXPadding;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: colors.$black;
  font-size: font-sizes.$footerText;
  font-weight: font-weights.$footerText;
}


