@use '../variables/layout';
@use '../variables/colors';
@use '../variables/font-sizes';
@use '../variables/font-weights';

.header {
  background-color: colors.$primary;
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.242);
  z-index: 50;
}

.header__inner {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  max-width: layout.$innerWidth;
  padding: 0 layout.$innerXPadding;
  min-height: layout.$headerMinHeight;
}

.header__nav-items-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.header__nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: font-sizes.$headerNavItem;
  font-weight: font-weights.$headerNavItem;
  padding: 0.5rem;
}

.header__nav-item:hover {
  background-color: rgba(0, 0, 0, 0.167);
}

.header__nav-item-label {
  margin-top: 0.45rem;
  color: colors.$white;
  text-align: center;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: font-sizes.$appName;
  color: colors.$white;
  letter-spacing: 0.1rem;
  font-weight: font-weights.$appName;

  & > div {
    margin-right: 0.5rem;
  }
}

.header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.header__login {
  display: flex;
  align-items: center;
}

.header__btn {
  outline: none;
  border: 1px solid transparent;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
  background-color: transparent;
  color: colors.$white;
  font-size: font-sizes.$button;
  font-weight: font-weights.$button;
  cursor: pointer;
}

.header__btn:hover {
  background-color: darken(colors.$primary, 5%);
  border-color: darken(colors.$primary, 5%);
}

.header__btn:focus {
  box-shadow: 0px 0px 0px 3px lighten(colors.$primary, 4%);
}

.header__btn + .header__btn {
  margin-left: 1rem;
}

.header__btn--action {
  border-color: colors.$action;
  background-color: colors.$action;
  font-weight: font-weights.$buttonAction;
}

.header__btn--action:hover {
  background-color: darken(colors.$action, 5%);
  border-color: darken(colors.$action, 5%);
}
