@use '../variables/colors';

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__img {
  flex: 1;
  color: pink;
}

.icon--tiny {
  width: 0.7rem;
}

.icon--small {
  width: 1rem;
}

.icon--medium {
  width: 1.6rem;
}

.icon--large {
  width: 3rem;
}

.icon--white {
  path {
    fill: colors.$white;
    &.nofill {
      fill: none;
      stroke: colors.$white;
    }
  }
}

.icon--semi-dark {
  path {
    fill: colors.$lightBgIcon;
    &.nofill {
      fill: none;
      stroke: colors.$lightBgIcon;
    }
  }
}
