@use '../variables/layout';

.main {
  display: flex;
  justify-content: center;
  padding: 0rem layout.$innerXPadding;
}

.main__inner {
  flex: 1;
  max-width: layout.$innerWidth;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}
