@use '../variables/layout';
@use '../variables/colors';

.main {
  display: flex;
  justify-content: center;
  background-color: colors.$lightBg;
}

.main__inner {
  flex: 1;
  max-width: layout.$innerWidth;
  display: flex;
  flex-direction: column;

  & > div {
    flex: 1;
  }
}

.main__signup-container,
.main__login-container {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
}

.main__projects-container {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}
