@use '../variables/layout';
@use '../variables/colors';
@use '../variables/font-sizes';
@use '../variables/font-weights';

.permissions-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.permissions-grid__header-label {
  color: colors.$black;
  font-size: font-sizes.$permissionsGridHeaderLabel;
  font-weight: font-weights.$permissionsGridHeaderLabel;
}

.permissions-grid__content-text {
  color: colors.$black;
  font-size: font-sizes.$permissionsGridContentText;
  font-weight: font-weights.$permissionsGridContentText;
}

.permissions-grid__cell {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.permissions-grid__cell-light {
  background-color: colors.$lightBgLightened;
}

.permissions-grid__header {
  border-top: 2px solid colors.$lightBgBorder;
  border-bottom: 1px solid colors.$lightBgBorder;
}

.permissions-grid__header-left {
  border-left: 2px solid colors.$lightBgBorder;
  border-right: 1px solid colors.$lightBgBorder;
  border-top-left-radius: 0.45rem;
}

.permissions-grid__header-middle {
  border-right: 1px solid colors.$lightBgBorder;
}

.permissions-grid__header-right {
  border-right: 2px solid colors.$lightBgBorder;
  border-top-right-radius: 0.45rem;
}

.permissions-grid__content-left {
  border-left: 2px solid colors.$lightBgBorder;
  border-right: 1px solid colors.$lightBgBorder;
  border-bottom: 1px solid colors.$lightBgBorder;
}

.permissions-grid__content-middle {
  border-right: 1px solid colors.$lightBgBorder;
  border-bottom: 1px solid colors.$lightBgBorder;
}

.permissions-grid__content-right {
  border-right: 2px solid colors.$lightBgBorder;
  border-bottom: 1px solid colors.$lightBgBorder;
}

.permissions-grid__content-left-final {
  border-left: 2px solid colors.$lightBgBorder;
  border-bottom: 2px solid colors.$lightBgBorder;
  border-right: 1px solid colors.$lightBgBorder;
  border-bottom-left-radius: 0.45rem;
}

.permissions-grid__content-middle-final {
  border-bottom: 2px solid colors.$lightBgBorder;
  border-right: 1px solid colors.$lightBgBorder;
}

.permissions-grid__content-right-final {
  border-right: 2px solid colors.$lightBgBorder;
  border-bottom: 2px solid colors.$lightBgBorder;
  border-bottom-right-radius: 0.45rem;
}
