@use '../variables/layout';
@use '../variables/colors';
@use '../variables/font-sizes';
@use '../variables/font-weights';

.projects__container {
  padding: 1rem;
}

.projects__title-link {
  display: flex;
  align-items: center;
  & > div {
    margin-right: 0.35rem;
    transform: translateY(-10%);
  }
  h3 {
    color: colors.$black;
    font-size: font-sizes.$projectsTitle;
    font-weight: font-weights.$projectsTitle;
  }
}

.projects__title-link:hover {
  text-decoration: underline;
}

.projects__settings-header {
  color: colors.$black;
  font-size: font-sizes.$projectSettingsHeader;
  font-weight: font-weights.$projectSettingsHeader;
  margin-bottom: 0.5rem;
  margin-left: 0.2rem;
}

.projects__project-row {
  border-radius: 0.35rem;
  background-color: colors.$lightBgLightened;
  border: 2px solid colors.$lightBgBorder;
  overflow: hidden;
}

.projects__project-row-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.projects__project-row-lower {
  border-top: 1px solid colors.$lightBgBorder;
  background-color: colors.$lightBgSemiLightened;
  padding: 1rem;
}

.projects__row-btn {
  cursor: pointer;
  border-radius: 0.35rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: font-sizes.$rowExpandButton;
  font-weight: font-weights.$rowExpandButton;
  color: colors.$lightBgIcon;

  & > div {
    margin-left: 0.2rem;
  }
}

.projects__row-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.projects__project-row + .projects__project-row {
  margin-top: 1rem;
}
