$white: rgb(246, 255, 240);
$black: rgb(7, 48, 22);
$primary: rgb(46, 148, 130);
$lightBg: rgb(213, 238, 234);
$action: rgb(0, 203, 132);
$userIcon: rgb(0, 115, 255);

// derived colors
$lightBgDarkened: darken($lightBg, 3%);
$lightBgBorder: darken($lightBg, 10%);
$lightBgIcon: darken($lightBg, 50%);
$lightBgText: darken($lightBg, 70%);
