$appName: 1.2rem;
$button: 0.9rem;
$formLabel: 0.75rem;
$footerText: 0.75rem;
$inputText: 0.9rem;
$breadcrumb: 0.8rem;
$userIcon: 0.75rem;
$headerNavItem: 0.7rem;
$featureHeader: 0.9rem;
$rowExpandButton: 0.8rem;
$projectsTitle: 1rem;
$projectSettingsHeader: 0.8rem;
$projectSettingsBtn: 0.8rem;
$permissionsGridContentText: 0.9rem;
$permissionsGridHeaderLabel: 0.9rem;
$modalLabel: 1rem;
$searchMatchName: 0.9rem;
$searchMatchEmail: 0.75rem;
