@use '../../../styles/variables/colors';
@use '../../../styles/variables/font-weights';
@use '../../../styles/variables/font-sizes';
@use '../../../styles/variables/layout';

.user-icon {
  width: layout.$userIconSize;
  min-width: layout.$userIconSize;
  height: layout.$userIconSize;
  min-height: layout.$userIconSize;
  background-color: colors.$strongSecondary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.016);
}

.user-icon__initials {
  text-align: center;
  color: colors.$textLight;
  font-size: font-sizes.$small;
  font-weight: font-weights.$normal;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
  text-transform: uppercase;
}
