@use '../../../styles/variables/colors';
@use '../../../styles/variables/layout';
@use '../../../styles/variables/font-sizes';
@use '../../../styles/variables/font-weights';

.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb__link {
  font-size: font-sizes.$verySmall;
  font-weight: font-weights.$thin;
  color: colors.$textDark;
  margin: 0 0.25rem;
  padding: 0.2rem;
  border-radius: 0.25rem;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.055);
    outline-offset: 2px;
  }
}

